
input{
  height:25px;
}

h1{
  text-align:center;
  margin-top:30px;
  font-size:150px;
  font-weight:bold;
  color:white;

}

h1:hover{
  color:#20fcc5;
}

h2:hover{
  color:#20fcc5;
}

h2{
  font-size:25px;
  color:white;
}

label:hover{
  color:#20fcc5;
}

label{
  font-size:20px;
  color:white;
}

.email{
  margin:10px;
  height:30px;
  
 
}

.password{
   height: 60px;
   margin-top: 20px;

}

form{
  height:200px;
  margin:auto;
  margin-left:900px;
}



.enter{
  width:130px;
  color:black;
  background-color:white;
  height:25px;
  font-size:15px;

}

.enter:hover{
  background-color:#20fcc5;
  color:black;
}

.radio{
  /*text-align:center;*/
  margin: 10px;
    /*margin-left: 700px;*/
}



